.contextmenu{
    position: fixed;
    z-index: -999;
    background:none;
    background-color: #fcfcfc;
    box-shadow: 0 0 10px #cccccc;
    width: fit-content;
    padding:0 6px;
}

.contextmenu.active{
    z-index: 999;
}

.contextmenu .item{
    min-height: 28px;
    padding:2px 10px ;
    display: flex;
    align-items: center;
    font-size: 13px;
}

.contextmenu .item.disabled{
    pointer-events: none;
    opacity: 0.4;
}

.contextmenu .item:hover{
    background-color: #efefef;
}

.contextmenu hr{
    width: calc(100% - 8px);
    margin: 4px 0px 4px 4px;
    background-color: #d1d1d1;
    min-height: 1px;
    border:none;
}

