.transform h3{
    padding: 18px 14px;
}

.transform .items{
    display: flex;
    border-radius: 4px;
    margin:0 18px;
    box-shadow: 0 0 4px #cccccc;
}

.transform .items .item{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px 0;
    border-right: 1px solid #d1d1d1;
    cursor: pointer;
    color:#333333;
}

.transform .items .item:last-child{
    border-right: 0;
}

.transform .items .item:hover{
    background-color: #ededed;
}

.transform .items .item:active{
    background-color: #d3d3d3;
}