.toolbar {
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    z-index: 2;
    bottom:0;
    border-right: 1px solid #d1d1d1;
}

.toolbar .item{
    width:38px;
    height:38px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333333;
    cursor: pointer;
    transition: all .34s;
    position: relative;
}

.toolbar .item:hover{
    background-color: #efefef;
}

.toolbar .item.active{
    background-color: #9141ac;
    color:#ffffff;
}

.stroke{
    margin-top: -4px;
}

.path-tool-panel {
    left:50px;
    width: fit-content;
    height:fit-content;
    top:calc(10% - 10px);
    background-color: #ffffff;
    box-shadow: 0 0 10px #cccccc;
    position: absolute;
    border-radius: 8px;
    padding:14px;
    box-sizing: border-box;
    overflow: auto;
}

textarea { resize: none; } 

.path-tool-panel .path-d-input{
    min-height: 80px;
    border:0;
    outline: none;
    border-radius: 4px;
    border:1px solid #d1d1d1;
    width:100%;
    padding:4px 8px;
    box-sizing: border-box;
}

.path-tool-panel .icons{
    margin-top: 14px;
    border-radius: 4px;
    overflow: hidden;
    border:1px solid #d1d1d1;
    overflow: auto;
}

.path-tool-panel .icons .icon-items{
    display: flex;
    margin-bottom: 0;
    border-bottom: 1px solid #d1d1d1;
}

.path-tool-panel .icons .icon-items:last-child{
    border:0;
}


.path-tool-panel .icons .icon-item.active{
    background-color: #9141ac;
    color:#ffffff;
}

.path-tool-panel .icons .icon-item{
    flex:1;
    background-color: #ededed;
    padding:10px 0;
    cursor: pointer;
    border-right: 1px solid #d1d1d1;
    color:#4c4c4c;
    width: fit-content;
    max-height: 17px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.path-tool-panel .icons .icon-item:last-child{
    border:0;
}

.path-tool-panel .icons .icon-item:hover{
    background-color: #9141ac;
    color:#ffffff;
}

#svg{
    width: 100%;
    height: 100%;
    fill: currentcolor;
    stroke: none;
    overflow: inherit;
    pointer-events: none;
}

.colorpanel {
    width: fit-content;
    height:fit-content;
    background-color: #ffffff;
    box-shadow: 0 0 10px #cccccc;
    position: absolute;
    border-radius: 8px;
    padding:14px;
    box-sizing: border-box;
    left:50px;
    bottom:0;
    width:228px;
    z-index: 2;
}

.colorpanel::before{
    content: "";
    position: absolute;
    z-index: 1;
    left:-5px;
    bottom: 15px;
    background-color: #ffffff;
    width:10px;
    height:10px;
    transform: rotate(45deg);
}
