.toolbar {
    background-color: #fcfcfc;
    display: flex;
    flex-flow: column;
    z-index: 2;
    border-right: 1px solid #d1d1d1;
}

.toolbar .item{
    width:38px;
    height:38px;
    background-color: #fcfcfc;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#333333;
    cursor: pointer;
    border-bottom: 1px solid #dfdfdf;
    transition: all .34s;
    position: relative;
}

.toolbar .item:last-child{
    border-bottom: 0;
}

.toolbar .item:hover{
    background-color: #efefef;
}

.toolbar .item.active{
    background-color: #6ca3ff;
    color:#ffffff;
}

.path-tool-panel{
    width: fit-content;
    height:calc(100% - 20px);
    background-color: #ffffff;
    box-shadow: 0 0 8px #cccccc;
    position: absolute;
    border-radius: 4px;
    left:50px;
    top:10px;
    padding:14px;
    box-sizing: border-box;
    overflow: auto;
}

.path-tool-panel .path-d-input{
    min-height: 80px;
    border:0;
    outline: none;
    border-radius: 4px;
    border:1px solid #d1d1d1;
    width:100%;
    padding:4px 8px;
    box-sizing: border-box;
}

.path-tool-panel .icons{
    margin-top: 14px;
    border-radius: 4px;
    overflow: hidden;
    border:1px solid #d1d1d1;
    overflow: auto;
}

.path-tool-panel .icons .icon-items{
    display: flex;
    margin-bottom: 0;
    border-bottom: 1px solid #d1d1d1;
}

.path-tool-panel .icons .icon-items:last-child{
    border:0;
}

.path-tool-panel .icons .icon-item{
    flex:1;
    background-color: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 0;
    cursor: pointer;
}

.path-tool-panel .icons .icon-item.active{
    background-color: #448aff;
    color:#ffffff;
}

.path-tool-panel .icons .icon-item{
    border-right: 1px solid #d1d1d1;
    color:#d8d8d8;
}

.path-tool-panel .icons .icon-item:last-child{
    border:0;
}

.path-tool-panel .icons .icon-item:hover{
    background-color: #448aff;
    color:#ffffff;
}