.font h5{
    padding:18px 14px 10px 14px;
}

.font .select{
    width:100%;
}

.items{
    margin:0 14px;
    box-shadow: 0 0 4px #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
}

.items .item{
    padding:8px 0;
    text-align: center;
    flex:1;
    border-right: 1px solid #d1d1d1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 600;
}

.items .item.active{
  background-color: #9141ac;
  color:#ffffff;
}

.items .item:hover{
    background-color: #efefef;
    cursor: pointer;
}

.items .item.active:hover{
    background-color: #9141ac;
    color:#ffffff;
}

.items .item:last-child{
    border-right: 0;
}


.slider-wrapper{
    margin:0 14px;
    box-sizing: border-box;
}