.menubar{
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
}

.menubar .item{
    padding: 8px 14px;
    color:#333333;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    position: relative;
}

.menubar .item:hover{
    background-color: #efefef;
}

.menubar .item:hover .options{
    display: flex;
}

.menubar .item .title{
    width:100%;
    height:100%;
}

.menubar .options{
    position: absolute;
    left:0;
    top:0;
    display: none;
    flex-direction: column;
    z-index: 888;
    top:100%;
    box-shadow: 0 8px 8px #cccccc;
    background-color: #fcfcfc;
    min-width: 110px;
}

.menubar .options .options-item{
    min-height: 28px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding:4px 12px;
}

.menubar .options .options-item:hover{
    background-color: #efefef;
}

.menubar hr{
    width: calc(100% - 8px);
    margin: 4px 0px 4px 4px;
    background-color: #d1d1d1;
    min-height: 1px;
    border:none;
}
