.menubar{
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
    height: 36px;
    box-sizing: border-box;
    padding:0 4px;
}

.menubar .left,.menubar .right{
    width:200px;
}

.menubar .right{
    justify-content: end;
}

.menubar .btn{
    cursor: pointer;
    border-radius: 4px;
    padding:6px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menubar .btn:hover{
    background-color: #ededed;
}

.menubar .btn:active{
    background-color: #d3d3d3;
}

.center{
    border-radius: 6px;
    background-color: #e8e8e8;
    padding:4px 16px;
    font-size: 12px;
}