.menubar{
    background-color: #fcfcfc;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #d1d1d1;
}

.menubar .item{
    padding: 8px 14px;
    color:#999999;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
}

.menubar .item:hover{
    background-color: #efefef;
}

